html {
    background-color: rgb(86, 86, 250);
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg{
    background-color: white;
}

.bar {
    fill: rgb(86, 86, 250);
}

.bar:hover {
    fill: red;
}

#tooltip {
    color: red;
}